.containerGeral{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  filter: drop-shadow(var(--shadow-primary));
}

.containerImagem{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 550px;
  background-color: var(--color-tertiary);
  border-radius: 20px 0 0 20px;
}

.containerBackgroundLogin{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  background-color: var(--color-secondary);
  border-radius: 0 20px 20px 0px;
}

.containerLogin{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 325px;
  height: 425px;
  color: var(--color-secondary);
  background-color: white;
  border-radius: 15px;
  box-shadow: var(--shadow-primary);
}

.containerForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: .8rem;
}

.buttonContainer button{
  width: 180px;
  padding: .7rem;
}

.passwordContainer{
  position: relative;
  width: 100%;
  display:flex;
  align-items: center;
}

.passwordContainer input{
  width: 100%;

}

.passwordToggle{
  position: absolute;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  color: #666;
  font-size: 1rem;
  padding: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.passwordToggle:hover{
  color: var( --color-secondary);
  background: none;
  scale: none;
}

.errorMessage{
  text-align: center;
  color: var(--color-error);
  margin: 1rem 1rem;
  transition: all .5s ease-in-out;
}

@media (max-width: 768px){
  .containerImagem{
    width: 350px;
  }

  .containerLogin{
    width: 260px;
  }

  .containerBackgroundLogin{
    width: 350px;
  }
}

@media (max-width: 320px){

  .containerGeral{
    flex-direction: column;

  }

  .containerImagem{
    width: 260px;
    height: 200px;
    border-radius: 20px 20px  0 0;
    
  }

  .containerLogin{
    width: 230px;
    height: 300px;
  }

  .containerForm h2{
    display: none;
  }

  .containerBackgroundLogin{
    width: 260px;
    height: 350px;
    border-radius: 0 0  20px 20px;
  }

  .errorMessage{
    text-align: center;
    margin-bottom: 1rem;
    
  }


}

